[core]
    engine = pg
      plan_file = migrations/sqitch.plan
      top_dir = migrations
    [engine "pg"]
      target = db:pg://spedata:4Yu1awQOeqFHpcQcxaWASs5WyRJE4F0v@dpg-ccsqqfien0hinul5l410-a.frankfurt-postgres.render.com/cosyworking
    # registry = sqitch
    # client = psql